<div class="comments">
  {{#each this}}
  <div class="container">
    <div class="row post">
      <div class="col-lg-9 text">
        <a href="/thesis/{{id}}">{{title}}</a>
      </div>
      <div class="col-lg-3 meta">
        <div>{{user.username}}</div>
        <div>{{format_date createdAt}}</div>
      </div>
    </div>
  </div>
  {{/each}}
</div>