
<article class="thesis-group">
  <div class="chart">
    <a href="/security/{{security.ticker}}">{{security.ticker}}</a>
    <div>{{security.name}}</div>
    <img class="image" src="/dummy.png">
  </div>

  {{> thesis security.theses}}

</article>