<div class="container">
  <div class="row">
 
    <div class="col security-form">
      <p>Submit a Security Ticker Symbol and Company Name for the coummunity to evaluate...</p>
      <form class="newsecurity-form">
            <div class="newticker">
                <label for="newsecurity-ticker">Ticker Symbol:</label>
                <input type="text" id="newsecurity-ticker" />
            </div>
            <div class="newticker">
                <label for="newsecurity-name">Company Name</label>
                <input id="newsecurity-name" />
            </div>
                <div class="newticker">
                <button type="submit">Submit</button>
            </div>
      </form>
    </div>

  </div>
</div>

<script src="/javascript/newsecurity.js"></script>